/*********************
VARIABLES
*********************/

$color-blue: #0E2B67;
$color-green: #24BA8C;
$color-white: #FFFFFF;
$color-disabled: #A8A8A8;
$color-text: #666666;
$color-background: #F8F9FA;
$color-border: #DFDFDF;

/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) {
      @content ;
    }
  } @else if $point == laptop {
    @media (min-width: 64em) {
      @content ;
    }
  } @else if $point == tablet {
    @media (min-width: 50em) {
      @content ;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) {
      @content ;
    }
  } @else if $point == mobile {
    @media (min-width: 23em) {
      @content ;
    }
  }
}

/*********************
MIXINS
*********************/

@mixin app-margin {
  padding-left: 10px;
  padding-right: 10px;
  @include breakpoint(phablet) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include breakpoint(tablet) {
    padding-left: 75px;
    padding-right: 75px;
  }
  @include breakpoint(laptop) {
    padding-left: 100px;
    padding-right: 100px;
  }
  @include breakpoint(desktop) {
    padding-left: 150px;
    padding-right: 150px;
  }
}


/*********************
SIMPLE GRID
*********************/

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  flex-basis: 100%;
  box-sizing: border-box;

  @include breakpoint(tablet) {
    flex-basis: 50%;
    padding: 0 10px;
  }
}