@import '../../mixins.scss';

$input-radius: 6px;
$input-width: 100%;
$input-height: 35px;
$font-size: 16px;

.form {
  background: $color-white;
  box-sizing: border-box;
  border: 1px solid $color-border;
  border-radius: 8px;
  padding: 30px;

  label {
    display: block;
    font-size: 16px;
    color: $color-blue;
    padding: 0 0 5px 0
  }

  select {
    font-size: $font-size;
    border: 1px solid $color-border;
    border-radius: $input-radius;
    background: $color-background;
    width: $input-width / 2;
    height: $input-height;
    padding: 5px;
    margin-bottom: 5px;
  }

  option {
    color: $color-blue;
  }

  input {
    font-size: $font-size;
    border: 1px solid $color-border;
    border-radius: $input-radius;
    background: $color-background;
    width: $input-width;
    height: $input-height;
    margin: 0 0 10px 0;
  }

  input[type=submit] {
    margin: 10px 0;
    background: $color-green;
    color: $color-white;
    width: $input-width / 2;
    height: $input-height + 10;
    &:hover {
      background: darken($color-green, 10%);
    }
  }
}
